extends _layout.pug

block variables
    - title = 'Not Found'

block content
    p
        | Sorry, we couldn't find a page with that URL.

    p
        a(href='/') Click here to head back to the home page.
