nav.navbar
    .container
        .navbar-brand
            a.navbar-item.title-navbar-item(href='/')
                h1.title Athir Saleem
                h2.subtitle Software Developer

        .media-icons
            a.navbar-item(href='https://github.com/noc7c9')
                span.fab.fa-github
            a.navbar-item(href='https://www.linkedin.com/in/athir-saleem')
                span.fab.fa-linkedin-in
            a.navbar-item(href='mailto:athir.saleem@gmail.com')
                span.fas.fa-envelope
