block variables

html
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

        if title
            title= title + ' | Athir Saleem'
        else
            title Athir Saleem

        link(href="https://use.fontawesome.com/releases/v5.0.10/css/all.css", crossorigin="anonymous", rel="stylesheet")
        link(href='https://fonts.googleapis.com/css?family=Raleway:400,700', rel='stylesheet')

        style
            include ../styles/anti-fouc-head.css

    body
        include ./_header.pug

        block content

        link(rel='stylesheet', href='/bundle.css')

        block script
