@import './anti-fouc-body';

$navbar-height: 4.8rem;
$family-sans-serif: 'Raleway', sans-serif;

@import './node_modules/bulma/bulma';

.title-navbar-item {
    align-self: center;
    flex-direction: column;

    .title {
        font-size: 1.75rem;
    }

    .subtitle {
        font-size: 1rem;
    }
}

.navbar {
    .fab,
    .fas {
        font-size: 2.4rem;
    }
}

// handle the really narrow mobiles
@media screen and (max-width: 360px) {
    .title-navbar-item {
        .title {
            font-size: 1.5rem;
        }

        .subtitle {
            font-size: 0.75rem;
        }
    }

    .navbar {
        .fab,
        .fas {
            font-size: 2rem;
        }
    }

    .media-icons a {
        padding: 0.5rem;
    }
}

// overwrite styles that collapse mobile navbar into a burger
.navbar .media-icons {
    display: flex;
    align-items: center;
    height: $navbar-height;
    margin-left: auto;
}

.navbar .container {
    display: flex;
    align-items: center;
}

.project {
    &:not(:last-child) {
        padding-bottom: 1rem;
        margin-top: 0;
        margin-bottom: 2rem;
        border-bottom: 2px solid $white-ter;
    }

    .title {
        margin-bottom: 0.25rem;

        .title-text {
            margin-right: 0.75rem;
        }

        a {
            margin: 0 0.25rem;
        }
    }

    .img-container {
        display: flex;
        align-self: flex-start;
        justify-content: center;
        min-width: 9rem;
        padding-right: 0;
        padding-left: 0;

        img {
            object-fit: contain;
            border: 2px solid $white-ter;
            border-radius: $box-radius;
            padding: 0.25rem;
        }
    }

    .tags {
        margin-bottom: 0.5rem;

        .tag {
            margin-bottom: 0;

            &:not(:last-child) {
                margin-right: 0.5rem;
            }
        }
    }

    p:not(:last-child) {
        padding-bottom: 0.5rem;
    }
}

.modal-content .box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero.is-fullheight.e404-hero {
    min-height: calc(100vh - #{$navbar-height});
}
